# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build directories
/build/
/dist/

# Cache directories
.cache/
.tmp/

# Coverage directory
coverage/

# Editor-specific files
.idea/
.vscode/
*.swp

# npm-specific files
package-lock.json
yarn.lock

# Optional MongoDB-specific files (if you store local data here)
dump/
mongodb.log

# Testing
/coverage/
/jest/
